node_modules
*/node_modules
**/node_modules

dist
*/dist
**/dist

coverage
*/coverage
**/coverage

.cache
*/.cache
**/.cache

.turbo
*/.turbo
**/.turbo

dist-app
.flowbite-react
.vite
.eslintcache
.DS_Store
.env
.env.*

.git
.github
.vscode
client/tests/e2e/test-results
client/tests/e2e/playwright-report
