services:
  server:
    build:
      context: .
      dockerfile: server/dockerfile
    ports:
      - "3001:3001"

  client:
    build:
      context: .
      dockerfile: client/Dockerfile
    depends_on:
      - server
    ports:
      - "5173:80"
